{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- <div class="content-section"> -->
        <div class="container" style="background: #ffffff;
        padding: 60px 80px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        margin-bottom: 7px;
        width: 700px;
        box-shadow:  0 5px 10px rgba(0, 0, 0, 0.3);">

            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <center style="font-family: Verdana, Geneva, sans-serif;
                    font-weight: normal;
                    font-size: 38px;">
                        <legend class="border-bottom mb-4"><h3 style="font-weight: 700;">Reset Password</h3></legend>
                    </center>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mb-3 mt-3">
                    <center>
                        <button style="font-weight: 500;" class="btn btn-outline-info btn-lg" type="submit">Request Password Reset</button>
                    </center>
                </div>
            </form>
        </div>
    <!-- </div> -->
{% endblock content %}